<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <!--****AGENCIA chaco***-->
    <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-K03IMQV\SQLEXPRESS;Initial Catalog=CHACO;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
         
         -->
     
      
      <!--SECRETARIA-->
      
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=SECRETARIA-2\SQLEXPRESS;Initial Catalog=SanRafael;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
         
      <!--CASA-->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-BI5616B\SQLEXPRESS;Initial Catalog=CHACO;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
      -->
       <!--SAN RAFAEL-->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=JUANLUZ\SQLEXPRESS;Initial Catalog=SANRAFAEL;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
       -->
    </connectionStrings>
</configuration>